html,
body {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font;
  color: $body-color;

  @include smooth-fonts;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $h1-weight;
  font-size: $h1-size;

  @include desktop {
    color: $heading-color;
    font-family: $heading-font;
    font-weight: $h1-weight;
    font-size: $h1-size;
  }
}

h2,
.h2 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $h2-weight;
  font-size: $h2-size;
}

h3,
.h3 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $h3-weight;
  font-size: $h3-size;
}

p,
li {
  font-family: $body-font;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}

a {
  transition: $base-transition;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: darken($brand-secondary, 10%);
  }
}

ul.nav {
  list-style-type: none;
  padding: 0;

  .sub-menu {
    list-style-type: none;
    padding: 0;
  }
}

.panel {
  padding: $section-padding 0;

  @include tablet {
    padding: ($section-padding + 10px) 0;
  }

  @include laptop {
    padding: ($section-padding + 15px) 0;
  }
}
